ul {
  height: 80%;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

li {
  list-style-type: none;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.right {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.left {
  align-self: flex-start;
}

.user-name {
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 14px;
}

.left .message {
  margin-bottom: 0;
  border: 1px solid white;
  background: white;
  border-radius: 15px;
  justify-self: center;
  padding: 10px;
  padding-bottom: 5px;
  word-break: break-all;
  font-size: 18px;
}

.right .message {
  margin-bottom: 0;
  border: 1px solid white;
  background: white;
  border-radius: 15px;
  justify-self: flex-end;
  padding: 10px;
  padding-bottom: 5px;
  word-break: break-all;
  font-size: 18px;
}
